:root{
    --ball : orange;
    --width : 100px;
    --height: 100px;
    --radius: 50px;
    --margin-left: 50vw;
    --margin-top: 100px;
    --body: black;
}



body {
    background-color:var(--body)
}

.ball {
    display: flex;
    width: var(--width);
    height: var(--height);
    background-color:var(--ball);
    border-radius: var(--radius);
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
}

